*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}
.header-logo img{
    height: 50px;
}
.header-content ul{
    display: flex;
    line-height: 50px;
}
.header-content ul li{
    list-style-type: none;
}
.header-content ul li a{
    color: white;
    padding: 8px 15px;
    font-weight: 700;
    
}
a{
    text-decoration: none;
}
.header-content ul>li>a:hover .header-content ul li{
    background-color: gray;
}
.nhap-xuat{
    line-height: 50px;
}
.nhap-xuat a{
    padding: 10px 20px;
    color: coral;
    border: 1px solid coral;
}
.nhap-xuat a:first-child {
    border-radius: 15px 0 0 15px;
}
.nhap-xuat a:last-child {
    border-radius: 0px 15px 15px 0px;
}
.tc{
    text-align: center;
    margin-bottom: 200px;
}
.tc-main{
    position: relative;
    background: url(img/intro.jpg) center center/cover no-repeat;
}
.tc-content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    position: relative;
    z-index: 5;
}
.tc-time{
    display: flex;
    justify-content: center;
    height: 100%;
}
.time-day{
    margin: 10px 20px;

}
.time-month{
    margin: 10px 20px;

}
.time-year{
    margin: 10px 20px;
} 

.tc-nen{
    top: 0;
    left: calc(50% - 500px);
    right: calc(50% - 500px);
    bottom: 0;
    display: block;
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    background: rgba(255,255,255,0.75); 
}
.sk{
    text-align: center;
    margin-bottom: 200px;
}
.sk-content{
    display: flex;
    justify-content: center;
    background-color: #291D14;  
    padding: 15px 10px;

    
}
.img-sk{
    height: 300px;
    overflow: hidden;
    width: 600px;
    border-radius: 25px;
    margin-right: 100px;
    margin-top: 25px;
}
.img-sk img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
}
.content-main{
    text-align: justify;
    line-height: 1.4;
    padding: 15px 10px;
}
.bancn{
    background-color: #291D14;
    margin-bottom: 200px;
}
.cn-title{
    text-align: center;
    padding: 15px 0;
}
.list{
    display: flex;
    justify-content: center;
}
.list-pp{
    height: 250px;
    width: 350px;
    border-radius: 15px;
    background-color: #111;
    text-align: center;
    margin: 15px 30px;
}
.cn-img{
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px auto;

}
.cn-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

}
.cn-name{
    margin: 15px;
}
.cn-job{
    margin: 15px;
    opacity: 0.7;
}
.skthuongnien{
    text-align: center;
    margin-bottom: 200px;
}
.tn-title{

}
.tn-mua{
    display: inline-block;
    background-color: #422817;
    /* border-radius: 15px; */
    margin-top: 55px;
}
.tn-mua>a{
    padding: 10px 15px ;
    color: white;
    display: inline-block;
}
.tn-mua>a:hover {
    background-color: coral;
}
.tn-list{
    display: flex;
    justify-content: center;
}
.list-time{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}   
.month-list{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: double;
    line-height: 100px;
    font-size: 20px;
    color: coral;
    background-color: #422817;
    margin-right: 15px;

}
.list-title{
    text-align: justify;

}
.list-hd{
    color: coral;
}
.list-dress{
}
.list-time h5{
    border: 1px solid coral;
    padding: 10px 35px;
    border-radius: 15px;
    margin-top: 35px;
    font-size: 16px;
    cursor: pointer;
}
.list-time h5:hover .list-time>h5{
    background-color: coral;
}
.left,.right{
    margin: 60px;
}
.footer{
    background-color: rgb(74, 74, 214);
}
.f1{

}
.f2{

}
